flows/.biizy.json.json
[{"id":"64cddbff.f10b14","type":"tab","label":"Flow 1"},{"id":"2b20938f.ffa71c","type":"mongodb2","z":"","uri":"mongodb://ds113670.mlab.com:13670/biizy","name":"biizy","options":"","parallelism":"-1"},{"id":"88639e03.b3526","type":"http in","z":"64cddbff.f10b14","name":"","url":"/thankyou","method":"post","swaggerDoc":"","x":109.5,"y":52,"wires":[["1e1ea9d6.fbadc6","460697e5.23e438","fecc500.ca653b"]]},{"id":"1e1ea9d6.fbadc6","type":"http response","z":"64cddbff.f10b14","name":"","x":310.5,"y":52,"wires":[]},{"id":"823e7f7c.18009","type":"http request","z":"64cddbff.f10b14","name":"","method":"POST","ret":"txt","url":"https://hooks.slack.com/services/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","tls":"","x":908.5,"y":175,"wires":[[]]},{"id":"460697e5.23e438","type":"template","z":"64cddbff.f10b14","name":"Slack Alert Message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"ALERT! {{payload.entity.firstname}} has requested an {{payload.entity.yesein}} for a {{payload.entity.coType}}!","x":359.5,"y":176,"wires":[["5526079f.5b5428"]]},{"id":"5526079f.5b5428","type":"function","z":"64cddbff.f10b14","name":"Msg Payload Function","func":"msg.payload={\n    text:msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"x":652.5,"y":175,"wires":[["823e7f7c.18009"]]},{"id":"d659952a.b94a88","type":"inject","z":"64cddbff.f10b14","name":"Slack Test Client","topic":"","payload":"{\"entity\": {         \"coName\": \"Jo\",         \"designator\": \", LLC\",         \"industry\": \"1\",         \"bizdescription\": \"Farm\",         \"firstname\": \"Jo\",         \"lastname\": \"jo@gmail.com\",         \"phone\": \"7894531234\",         \"address\": \"MyAdderss\",         \"address2\": \"Suite 2\",         \"city\": \"JoVille\",         \"state\": \"AK\",         \"zip\": \"84020\",         \"yesein\": \"ein\",         \"nooa\": \"none\",         \"partialloccs\": \"seal\",         \"altshipname\": \"Jo\",         \"altshipaddress\": \"Jo\",         \"altshipcity\": \"Jo\",         \"altshipstate\": \"AR\",         \"altshipzip\": \"84020\",         \"ccfirstname\": \"jo\",         \"cclastname\": \"jo\",         \"ccaddress\": \"123 Loopy Land\",         \"cccity\": \"Jo\",         \"ccstate\": \"AK\",         \"cczip\": \"84020\",         \"ccowner\": \"Larse Darze\",         \"cccvv\": \"234\",         \"ccnumber\": \"123456789315\",         \"ccexpmonth\": \"03\",         \"ccexpyear\": \"18\",         \"coType\": \"LLC\"     }}","payloadType":"json","repeat":"","crontab":"","once":false,"x":137.5,"y":176,"wires":[["460697e5.23e438"]]},{"id":"9cdb5b87.8b2358","type":"inject","z":"64cddbff.f10b14","name":"Daily Signup Email","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"59 23 * * *","once":false,"x":135,"y":268,"wires":[["915e2a04.a34f08"]]},{"id":"fecc500.ca653b","type":"function","z":"64cddbff.f10b14","name":"Timestamp","func":"msg.payload.created_at=new Date(Date.now());\nreturn msg;","outputs":1,"noerr":0,"x":319,"y":110,"wires":[["5aab47cb.1c1c08"]]},{"id":"915e2a04.a34f08","type":"function","z":"64cddbff.f10b14","name":"Moment Function","func":"var moment = context.global.moment;\n\nmsg.payload = {\n   created_at: {\n       $gt: new Date(moment().subtract(24, 'days').toISOString())\n   }\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":382,"y":267,"wires":[["b1b48f97.b8975"]]},{"id":"5841aa4c.2eace4","type":"debug","z":"64cddbff.f10b14","name":"","active":true,"console":"false","complete":"false","x":937,"y":265,"wires":[]},{"id":"b1b48f97.b8975","type":"mongodb2 in","z":"64cddbff.f10b14","service":"_ext_","configNode":"2b20938f.ffa71c","name":"Mongo Test DB2 toArray","collection":"test","operation":"find.toArray","x":674,"y":265,"wires":[["5841aa4c.2eace4","c0a52f6.fa434d"]]},{"id":"4732848a.93731c","type":"e-mail","z":"64cddbff.f10b14","server":"smtp.gmail.com","port":"465","secure":true,"name":"kurtwgardner@gmail.com","dname":"Gmail Biizy App","x":1096,"y":342,"wires":[]},{"id":"c0a52f6.fa434d","type":"template","z":"64cddbff.f10b14","name":"Email Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"You got a new message at {{payload.count}}!","x":854,"y":343,"wires":[["5841aa4c.2eace4","4732848a.93731c"]]},{"id":"5aab47cb.1c1c08","type":"mongodb2 in","z":"64cddbff.f10b14","service":"_ext_","configNode":"2b20938f.ffa71c","name":"","collection":"test","operation":"save","x":520,"y":104,"wires":[[]]}]